// ------------------------Light Mode-------------------------


body:has(#light){
	background: #acbbf8;

	.container {
		box-shadow: none;

	}

	#light {

		.sidebar {
			background-color: #eee;
			border-right: 1px solid #eee;

			.sidebar-navbar {
				background-color: #382e60;
			}

			.search input {
				color: #333;
				background-color: #e2e1e7;
				caret-color: #333;

				&::placeholder {
					color: #888;
				}
			}

			.user-list{
				.empty-list, .not-found {
					color: #aaa;
				}
				
				.user {
					color: #000;
					background-color: transparent;
					cursor: default;
	
					.message {
						color: #555;
					}
				}
			}

			.user-list.search {
				border-bottom: 1px solid #ccc;
			}

			.user-list.chatlist {
				.user {
					cursor: pointer;

					&:hover {
						background-color: #ddd;
					}
				}
			}

			.user-list .user.active {
				color: #000;
				background-color: #ccc;
				
				&:hover {
					background-color: #ccc;
				}

				.message {
					color: #555;
				}
			}
		}

		.chat {
			border-left: 1px solid #ddd;
			background-color: #eaeaea;

			.chat-navbar {
				background-color: #382e60;
			}

			.chat-window {
				background-color: #dddde3;

				.container {
					background-color: #dddde3;
				}
			}

			.chat-text-toolbar {
				background-color: #382e60;
				
				textarea {
					color: #000;
					background-color: #fff;
					caret-color: #000;
				}
			}

			.time {
				color: #444;
			}
		}
	}
}
