@import "./variables.scss";

#light {
	// sidebar
	.sidebar-navbar, .chat-navbar {
		background-color: color-light("$--nav-bgc");
	}
	.sidebar{
		background-color: color-light("$--sidebar-bgc");
		border-right-color: color-light("$--sidebar-border-right-color");
	}
	.search input {
		background-color: color-light("$--sidebar-searchbox-bgc");
	}
	.search input {
		color: color-light("$--sidebar-searchbox-color");
		background-color: color-light("$--sidebar-searchbox-bgc");
		caret-color: color-light("$--sidebar-searchbox-caret-color");
		&::placeholder {
			color: color-light("$--light-font-color");
		}
	}
	.empty-list, .not-found {
		color: color-light("$--empty-notfound-font-color");
	}
	.user-list.search {
		border-bottom-color: color-light("$--empty-notfound-font-color");
	}
	.user .message {
		color: color-light("$--light-font-color");
	}
	.user {
		color: color-light("$--username-color");
		&:hover {
			background-color: color-light(("$--user-bgc"));
		}
	}
	.user.active {
		background-color: color-light("$--active-user-bgc");
		&:hover {
			background-color: color-light("$--active-user-bgc");
		}
	}

	//chat
	.chat {
		background-color: color-light("$--chat-bgc");
	}
	.no-chat-open {
		color: color-light("$--chat-display-word-when-no-chat-open");
	}
	.msg .time{
		color: color-light("$--chat-message-time");
	}
	.msg .bubble {
		color: color-light("$--chat-bubble-non-owner-color");
		background-color: color-light("$--chat-bubble-non-owner-bgc");
	}
	.owner .msg .bubble {
		color: color-light("$--chat-bubble-owner-color");
		background-color: color-light("$--chat-bubble-owner-bgc");
	}
	.chat-text-toolbar {
		background-color: color-light("$--chat-text-toolbar-bgc");
		textarea {
			color: color-light("$--chat-textarea-box-color");
			caret-color: color-light("$--chat-textarea-box-color");
			background-color: color-light("$--chat-textarea-box-bgc");
		}
	}
}


#dark {
	// sidebar
	.sidebar-navbar, .chat-navbar {
		background-color: color-dark("$--nav-bgc");
	}
	.sidebar{
		background-color: color-dark("$--sidebar-bgc");
	}
	.search input {
		background-color: color-dark("$--sidebar-searchbox-bgc");
	}
	.search input {
		color: color-dark("$--sidebar-searchbox-color");
		background-color: color-dark("$--sidebar-searchbox-bgc");
		caret-color: color-dark("$--sidebar-searchbox-caret-color");
		&::placeholder {
			color: color-dark("$--light-font-color");
		}
	}
	.empty-list, .not-found {
		color: color-dark("$--empty-notfound-font-color");
	}
	.user .message {
		color: color-dark("$--light-font-color");
	}
	.user {
		color: color-dark("$--username-color");
		&:hover {
			background-color: color-dark(("$--user-bgc"));
		}
	}
	.user.active {
		background-color: color-dark("$--active-user-bgc");
		&:hover {
			background-color: color-dark("$--active-user-bgc");
		}
	}

	//chat
	.chat {
		background-color: color-dark("$--chat-bgc");
	}
	.no-chat-open {
		color: color-dark("$--chat-display-word-when-no-chat-open");
	}
	.msg .time{
		color: color-dark("$--chat-message-time");
	}
	.msg .bubble {
		color: color-dark("$--chat-bubble-non-owner-color");
		background-color: color-dark("$--chat-bubble-non-owner-bgc");
	}
	.owner .msg .bubble {
		color: color-dark("$--chat-bubble-owner-color");
		background-color: color-dark("$--chat-bubble-owner-bgc");
	}
	.chat-text-toolbar {
		background-color: color-dark("$--chat-text-toolbar-bgc");
		textarea {
			color: color-dark("$--chat-textarea-box-color");
			caret-color: color-dark("$--chat-textarea-box-color");
			background-color: color-dark("$--chat-textarea-box-bgc");
		}
	}
}

