// ------------------------Light Mode-------------------------


body:has(#light){
	background: #acbbf8;

	.container {
		box-shadow: none;

	}

	#light {
		.sidebar {
			background-color: #eee;
			border-right: 1px solid #eee;

			.sidebar-navbar {
				background-color: #382e60;
			}

			.search input {
				color: #333;
				background-color: #e2e1e7;
				caret-color: #333;

				&::placeholder {
					color: #888;
				}
			}

			.user-list .user {
				color: #000;
				background-color: #eee;

				&:hover {
					background-color: #d7d6dc;
					cursor: pointer;
				}

				.message {
					color: #555;
				}
			}

			.user-list .active {
				color: #000;
				background-color: #d7d6dc;

				.message {
					color: #555;
				}
			}
		}

		.chat {
			.chat-navbar {
				background-color: #382e60;
			}

			.chat-window {
				background-color: #dddde3;

				.container {
					background-color: #dddde3;
				}
			}

			.chat-text-toolbar {
				background-color: #382e60;
				
				textarea {
					color: #000;
					background-color: #fff;
					caret-color: #000;
				}

				.btn-group button {
					color: #543277;
					background-color: #fff;

					&:hover {
						scale: 1.1;
					}
				}
			}

			.time {
				color: black;
			}
		}
	}
}
