@mixin mobile {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin labtop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}



* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	word-break: break-all;
	word-wrap: break-word;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#3127be, #7d58c2, #3127be) no-repeat;
}

input:focus, textarea:focus, button:focus {
	outline: 0;
}

*::-webkit-scrollbar {
	display: none;
}


// -----------------------Register & Login-------------------------

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 30px;

	.form-wrapper {
		padding: 20px 40px;
		width: 100%;
		max-width: 400px;
		text-align: center;
		border-radius: 10px;
		background-color: #333;
		box-shadow: 0px 0px 30px rgb(68, 19, 147);

		div {
			margin-bottom: 10px;
		}
		
		.logo {
			color: #fff;
			font-size: 24px;
			font-weight: 600;
		}

		.title {
			margin-bottom: 15px;
			font-size: 14px;
			color: #ddd;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 15px;

			input {
				display: block;
				padding: 10px;
				width: 100%;
				height: 40px;
				border: none;
				color: #333;
				font-size: 16px;
				border-radius: 5px;
				border-bottom: 1px solid #aaa;

				&::placeholder {
					color: #888;
				}
			}

			#file {
				display: none;
			}

			.avatar-btn {
				display: flex;
				align-items: center;
				gap: 10px;
				width: 100%;
				cursor: pointer;

				img {
					width: 40px;
				}

				span {
					font-size: 14px;
					color: #ccc;
				}

				&:hover span{
					color: #aaa;
				}
			}


			button {
				margin: 15px 0;
				width: 100%;
				height: 40px;
				border: none;
				color: #fff;
				border-radius: 5px;
				background-color: #6d619c;
				cursor: pointer;

				&:hover {
					background-color: #524684;
				}
			}
		}

		small {
			color: #eee;

			.auth-jump {
				text-decoration: underline;
				color: yellow;
				cursor: pointer;
			}
		}
	}
}



// --------------------------Home--------------------------

.home {
	width: 100vw;
	height: 100vh;
	padding: 20px 60px;
	color: #fff;

	@include labtop {
		padding: 0;
		background: #2a2a2a;
	}

	.container {
		display: flex;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-color: #333;
		box-shadow: 0px 0px 30px rgb(68, 19, 147);
		overflow: hidden;

		.sidebar-navbar, .chat-navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 6px 15px;
			width: 100%;
			height: 60px;
			background-color: #2a2a2a;

			.username {
				display: flex;
				align-items: center;
				gap: 10px;

				.btn {
					height: 30px;
					background-color: transparent;
					cursor: pointer;

					&:hover {
						scale: 1.1;
					}
				}

				img {
					width: 30px;
					height: 30px;
					background-color: #000;
					border-radius: 50%;
				}

				.avatar {
					cursor: pointer;
				}
			}

			.btn-group {
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;

				img {
					width: 30px;

					&:hover {
						scale: 1.1;
					}
				}

				button {
					width: 60px;
					height: 28px;
					color: rgb(228, 214, 253);
					background-color: #6d619c;
					border: none;
					border-radius: 5px;
					cursor: pointer;

					&:hover {
						scale: 1.1;
						background-color: #524684;
					}
				}
			}
		}
	}
}

.fullscreen {
	padding: 0;
	background-color: #2a2a2a;
}


